<h1>Signup</h1>

<%= form_for :user, url: '/users' do |f| %>

  <ul>Name: <%= f.text_field :name %></ul>
  <ul>Email: <%= f.text_field :email %></ul>
  <ul>Password: <%= f.password_field :password %></ul>
  <ul>Password Confirmation: <%= f.password_field :password_confirmation %></ul>
  <ul><%= f.submit "Submit" %></ul>

<% end %>