<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= current_user.email %>! </h4>
  
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
    <% @order.line_items.each do |line_item| %>
      <tr><td>
      <div><%= image_tag line_item.product.image.tiny %></div>
      </td>
      <td>
      <div><%= line_item.product.name %></div>
      </td>
      <td>
      <div><%= line_item.product.description %></div>
      </td>
      <td>
      <div><%= line_item.quantity %></div>
      </td>
      <td>
      <div><%= humanized_money_with_symbol line_item.total_price %></div>
      </td></tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          TOTAL:
        </th>
        <th>
          <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
        </th>
      </tr>
    </tfoot>
  </table>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>